<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="comp3350.flashcard">

    <application
        android:name=".application.FlashcardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recallr">

        <activity
            android:name=".presentation.deck.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.deck.DeckDetailActivity"
            android:exported="false"
            android:label="@string/deck_detail" />

        <activity
            android:name=".presentation.deck.EditDeckActivity"
            android:exported="false"
            android:label="@string/edit_deck" />

        <activity
            android:name=".presentation.card.EditCardActivity"
            android:exported="false"
            android:label="@string/edit_card" />

        <activity
            android:name=".presentation.study.StudyActivity"
            android:exported="false"
            android:label="@string/study" />


    </application>

</manifest>
